trade_matrix_clean.csv
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/normalization/GDP_country_year.json
/normalization/pop_country_year.json
AF_trade_200612_v2.ipynb
**.png
**.pdf
world_shapefiles/
normalization/datasets_intersection/notas.txt
datasets_choroplets/
firstcell.txt
networks_saved/
maps.zip
normalization/distances_countries_inKM.csv
unify_names.ipynb
vector_spatial_introd/
united_names_datasets/
Dynamic\ Time\ warping\ /
__pycache__/
af_timeseries_test.csv
corr_matrix.csv
read_network.py
networks_saved_v2/
normalization/distan_datasets/distances_YEI_v2.csv
normalization/gdp_pop_datasets_V2/
normalization/gdp_pop_datasets_V3/
read_network_v2.py
networks_saved_v3/*
Exploration_V2/read_network.py
Exploration_V2/datasets/
Exploration_V2/clustering_TS/clust_performance_eval/
Exploration_V2/clustering_TS/proximity_measures/
Exploration_V2/mapasDE_classes_af/
NOTAS.txt
Exploration_V3/antifragilidades_datasets
Exploration_V3/pairing_data
